#**01.Instalações e importações**

Install PySpark

In [ ]:
!pip install pyspark

Install GCP

In [ ]:
!pip install gcsfs

Install Mongo

In [ ]:
pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

install MySQL

In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.7/dist-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

Import PySpark SQL / Pandas / GCP

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window

import pandas as pd

from google.cloud import storage
import os

Import Mogo

In [ ]:
import pymongo
from pymongo import MongoClient

Import MySQL

In [ ]:
import mysql.connector
from mysql.connector import Error

#**02.Autenticação de segurança e Conexões**

---
a ou b

**a. Autenticação de úsuario - GCP**

---
https://colab.research.google.com/notebooks/io.ipynb#scrollTo=eikfzi8ZT_rW

In [ ]:
# Não executei para não solicitar autenticação.
from google.colab import auth
auth.authenticate_user('p_12_av_k')

Keys - GCP

In [ ]:
# Editei o acesso da chave para público
serviceAccount = "gs://p_12_av_k/uplifted-stream-339219-41de153edd08.json"

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

**b. Autenticação de usuário Local**

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

Key

In [ ]:
serviceAccount = "/content/drive/MyDrive/keys_bc12/uplifted-stream-339219-41de153edd08.json"

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

**2.1. Conectar Atlas MongoDb**

In [ ]:
client = pymongo.MongoClient("mongodb+srv://soulcode:a1b2c3@arturaula.jko5l.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [ ]:
db = client['aulamongo']
colecao_av_bruto = db.bc12_av_bruto

In [ ]:
db = client['aulamongo']
colecao_av_tratado = db.bc12_av_tratado

**2.2. Conectar GCP**

In [ ]:
client = storage.Client()

bucket = client.get_bucket('projeto_bc12_av') # Nome da bucket
bucket.blob('marketing_campaign.csv') #Nome do arquivo na bucket
path = 'gs://projeto_bc12_av/bruto/marketing_campaign.csv' # Endereço Gsutil do arquivo na bucket

**2.3. Conectar MySQL**

In [ ]:
conexao = mysql.connector.connect("35.184.69.166", "root", "a1b2c3", "db_bc12_av")

In [ ]:
def conexao_db(host, user, password, db):
  conexao = None
  try:
    conexao = mysql.connector.connect(
        host = host,
        user = user,
        passwd = password,
        database =  db
    )
    print(f"Conexão com o banco {db} realizada com sucesso!")
  except:
    print(f"Erro ao conectar ao banco {db}! '{Error}'")

  return conexao

In [ ]:
conexao = conexao_db("35.184.69.166", 'root', "a1b2c3", "db_bc12_av")

Erro ao conectar ao banco db_bc12_av! '<class 'mysql.connector.errors.Error'>'

#**3. Exibir todas as colunas sem '...'**

In [ ]:
pd.set_option('max_columns', None)

#**4. SparkSession**

In [ ]:
spark = (SparkSession.builder
        .master("local")
        .appName("projeto_bc12_artur_venturoli")
        .config('spark.ui.port', '4050')
        .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
        .getOrCreate())

In [ ]:
spark

#**5. Dataset e Backup**

Optei por renomear o arquivo afim de evitar imcompatibilidade em sua execução. Remoção de pontos no nome do arquivo.
- De: 
'marketing_campaign.csv - marketing_campaign.csv.csv'
- Para: 'marketing_campaign.csv'

**5.1. Dataset Pandas**

In [ ]:
df_origem = pd.read_csv("gs://projeto_bc12_av/bruto/marketing_campaign.csv",sep=",")

**5.2. Backup Dataset**

---
Criando uma cópia para trabalhar, mantendo assim o arquivo original integro.

In [ ]:
df = df_origem.copy()

**5.3. Backup Dataset bruto para Mongo**

In [ ]:
# Converte DataFrame em dicionário
df_to_mongo_origem = df_origem.to_dict('records')
# Insere no DB
colecao_av_bruto.insert_many(df_to_mongo_origem)

#**6. Tratamento**

##**6.1. Tradução**

---
Primeiramente, busquei compreender o significado de cada atributo/coluna para tomada de decisões Ao pesquisar o termo "AcceptedCmp3" cheguei ao link que continha informações sobre o significado da maioria deles. Link: https://www.kaggle.com/rodsaldanha/targeted-marketing-campaign/data

---
- **Atributos/Colunas**
- **Valores dos Atributos/Colunas:** 'Education':'formac_academica', 'Marital_Status':'estado_civil'

In [ ]:
df.head(5)

In [ ]:
df.info()

In [ ]:
#Auxilio para analise: Trás todos os valores sem repeti-los
sorted(pd.unique(df['formac_academica']))

['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD']

In [ ]:
sorted(pd.unique(df['estado_civil']))

In [ ]:
#Auxilio para analise: se há valores nulos na coluna
df.isna().sum()

##**6.2. Apagando atributos/colunas:** 

---
Com a falta de significado na tradução, analisei a relevancia dos valores contidos em alguns atributos, optando por apagar alguns. **No caso do atributo 'Response'** com base em seu significado: 'se o cliente aceitou a oferta na última campanha', por não ficar claro qual a campanha que se trata, podendo ser entre a primeira e a quinta, exclui-o.

---
Atributos excluidos:
- 'Z_CostContact'
- 'Z_Revenue'
- 'Response'

###*6.2.1. Analizando...*

In [ ]:
#Auxilio para analise
df.head(2)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0

In [ ]:
#Auxilio para analise: se há valores únicos na coluna
df.Response.is_unique

False

In [ ]:
#Auxilio para analise: se há valores nulos na coluna
df.isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [ ]:
#Auxilio para analise: Trás todos os valores sem repetilos
sorted(pd.unique(df['Response']))

[0, 1]

###*6.2.3. Apagando atributos/colunas*

In [ ]:
df.drop(['Z_CostContact','Z_Revenue','Response'],axis=1, inplace=True)

In [ ]:
# Verificarndo o resultado
df.head(2)

##**6.3. Renomeando os atributos/colunas e valores**

###*6.3.1. Renomeando os atributos/colunas*

---
Os nomes para os atributos foram beseados pelos siginificados da tradução.

In [ ]:
(df.rename(columns={'ID':'id_cliente',
                    'Year_Birth':'ano_nasc_cliente',
                    'Education':'formac_academica',
                    'Marital_Status':'estado_civil',
                    'Income':'renda_anual',
                    'Kidhome':'num_crianca_em_casa',
                    'Teenhome':'num_adolecente_em_casa',
                    'Dt_Customer':'data_cadastro_cliente',
                    'Recency':'ultm_comp_a_x_dia',
                    'MntWines':'v_gasto_produt_base_uva',
                    'MntFruits':'v_gasto_produt_fruta',
                    'MntMeatProducts':'v_gasto_produt_carne',
                    'MntFishProducts':'v_gasto_produt_pescado',
                    'MntSweetProducts':'v_gasto_produt_doce',
                    'MntGoldProds':'v_gasto_produt_ouro',
                    'NumDealsPurchases':'num_comp_com_desc',
                    'NumWebPurchases':'num_comp_site_empr',
                    'NumCatalogPurchases':'num_comp_por_catalogo',
                    'NumStorePurchases':'num_comp_na_loja',
                    'NumWebVisitsMonth':'visita_site_empr_ultm_mes',
                    'AcceptedCmp3':'comp_3_oferta',
                    'AcceptedCmp4':'comp_4_oferta',
                    'AcceptedCmp5':'comp_5_oferta',
                    'AcceptedCmp1':'comp_1_oferta',
                    'AcceptedCmp2':'comp_2_oferta',
                    'Complain':'reclamacao_cliente'
},inplace=True)
)

In [ ]:
df.ID.is_unique

True

In [ ]:
df.head(2)

###*6.3.2. Renomeando valores*

In [ ]:
#Backup da coluna
df['bkp_formac_academica'] = df.formac_academica

In [ ]:
#Backup da coluna
df['bkp_estado_civil'] = df.estado_civil

In [ ]:
df.head(2)

,id_cliente,ano_nasc_cliente,formac_academica,estado_civil,renda_anual,num_crianca_em_casa,num_adolecente_em_casa,data_cadastro_cliente,ultm_comp_a_x_dia,v_gasto_produt_base_uva,v_gasto_produt_fruta,v_gasto_produt_carne,v_gasto_produt_pescado,v_gasto_produt_doce,v_gasto_produt_ouro,num_comp_com_desc,num_comp_site_empr,num_comp_por_catalogo,num_comp_na_loja,visita_site_empr_ultm_mes,comp_3_oferta,comp_4_oferta,comp_5_oferta,comp_1_oferta,comp_2_oferta,reclamacao_cliente,bkp_formac_academica,bkp_estado_civil
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,Graduation,Single
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,Graduation,Single

In [ ]:
# Renomear valores da coluna 'formac_academica'
df.formac_academica.replace(to_replace=['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD'],value=['colegial','basico','graduacao','mestre','doutorado'],inplace=True)

In [ ]:
# Renomear valores da coluna 'estado_civil'
(df.estado_civil.replace(
    to_replace=['Absurd','Alone','Divorced','Married','Single','Together','Widow','YOLO'],
    value=['desconectada_o','sozinha_o','divorciada_o','casada_o','solteira_o','junto','viuva_o','irrefletida_o'],
    inplace=True)
)

In [ ]:
#Auxilio para analise: Trás todos os valores sem repetilos
sorted(pd.unique(df['formac_academica']))

['basico', 'colegial', 'doutorado', 'graduacao', 'mestre']

In [ ]:
#Excluindo as colunas de Bacukp
df.drop(columns='bkp_formac_academica',inplace=True)

In [ ]:
#Excluindo as colunas de Bacukp
df.drop(columns='bkp_estado_civil',inplace=True)

In [ ]:
df.head(2)

##**6.4. Analisando outros dados**

###6.4.1. Dados inconcistentes NaN ou NA

---
A única coluna com com valore nulos é a 'renda_anual'. Isso demonstra que alguns clientes possivelmente não tem renda ou simplesmente optaram por não declarar. Sendo assim atrinui o valor '0'.

In [ ]:
#Backup da coluna antes de alterar valores
df['bkp_renda_anual'] = df.renda_anual

In [ ]:
# Alterar valor nulo para 0 'formac_academica'
df.renda_anual.fillna(0,inplace=True)

In [ ]:
#Excluindo as colunas de Bacukp
df.drop(columns='bkp_renda_anual',inplace=True)

In [ ]:
df.head(2)

,id_cliente,ano_nasc_cliente,formac_academica,estado_civil,renda_anual,num_crianca_em_casa,num_adolecente_em_casa,data_cadastro_cliente,ultm_comp_a_x_dia,v_gasto_produt_base_uva,v_gasto_produt_fruta,v_gasto_produt_carne,v_gasto_produt_pescado,v_gasto_produt_doce,v_gasto_produt_ouro,num_comp_com_desc,num_comp_site_empr,num_comp_por_catalogo,num_comp_na_loja,visita_site_empr_ultm_mes,comp_3_oferta,comp_4_oferta,comp_5_oferta,comp_1_oferta,comp_2_oferta,reclamacao_cliente
0,5524,1957,graduacao,solteira_o,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0
1,2174,1954,graduacao,solteira_o,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0

In [ ]:
df.renda_anual.isna().sum()

0

In [ ]:
df.isna().sum()

In [ ]:
df.count()

In [ ]:
#Auxilio para analise: Trás todos os valores sem repetilos
sorted(pd.unique(df['reclamacao_cliente']))

[0, 1]

###6.4.2. Colunas: comp_1_oferta / comp_2_oferta / comp_3_oferta / comp_4_oferta / comp_5_oferta

---
Enquanto realizava a tradução identifiquei que os valores das colunas acima corresponde a: ‘1 = Sim’ e ‘2 = Não’

---
Link: https://www.kaggle.com/code/rodsaldanha/targeted-marketing-campaign/data

####6.4.2.1. Backup das colunas antes de anterar valores • PLAY •

In [ ]:
df['bkp_comp_1_oferta'] = df.comp_1_oferta

In [ ]:
df['bkp_comp_2_oferta'] = df.comp_2_oferta

In [ ]:
df['bkp_comp_3_oferta'] = df.comp_3_oferta

In [ ]:
df['bkp_comp_4_oferta'] = df.comp_4_oferta

In [ ]:
df['bkp_comp_5_oferta'] = df.comp_5_oferta

####6.4.2.2. Renomear valores das colunas •PLAY•

In [ ]:
# Renomear valores da coluna
df.comp_1_oferta.replace(to_replace=[0,1],value=['nao','sim'],inplace=True)

In [ ]:
df.comp_2_oferta.replace(to_replace=[0,1],value=['nao','sim'],inplace=True)

In [ ]:
df.comp_3_oferta.replace(to_replace=[0,1],value=['nao','sim'],inplace=True)

In [ ]:
df.comp_4_oferta.replace(to_replace=[0,1],value=['nao','sim'],inplace=True)

In [ ]:
df.comp_5_oferta.replace(to_replace=[0,1],value=['nao','sim'],inplace=True)

####6.4.2.3. Excluindo as colunas de Bacukp •PLAY•

In [ ]:
df.drop(columns='bkp_comp_1_oferta',inplace=True)

In [ ]:
df.drop(columns='bkp_comp_2_oferta',inplace=True)

In [ ]:
df.drop(columns='bkp_comp_3_oferta',inplace=True)

In [ ]:
df.drop(columns='bkp_comp_4_oferta',inplace=True)

In [ ]:
df.drop(columns='bkp_comp_5_oferta',inplace=True)

#**7. Exportando Dataframe Pandas** 

---
Após comcluir algumas etapas com pandas, realizei a exportação em buma bucket específica, possibilitando a importação na sequência para continuar outros tratamentos em com pyspark.

In [ ]:
df.to_csv('gs://projeto_bc12_av/tratamento/analise_campanhas_de_marketing_pandas.csv', index=False)

#**8. StructType / Importando DataFrame para PySpark**

##**8.1. StructType** >>NÂO FUNCIONA<<

In [ ]:
esquema = (
    StructType([
                StructField('apagar',IntegerType(), True),
                StructField('id_cliente',IntegerType(), True),
                StructField('ano_nasc_cliente',IntegerType(), True),
                StructField('formac_academica',StringType(), True),
                StructField('estado_civil',StringType(), True),
                StructField('renda_anual',FloatType(), True),
                StructField('num_crianca_em_casa',IntegerType(), True),
                StructField('num_adolecente_em_casa',IntegerType(), True),
                StructField('data_cadastro_cliente',StringType(), True),
                StructField('ultm_comp_a_x_dia',IntegerType(), True),
                StructField('v_gasto_produt_base_uva',IntegerType(), True),
                StructField('v_gasto_produt_carne',IntegerType(), True),
                StructField('v_gasto_produt_pescado',IntegerType(), True),
                StructField('v_gasto_produt_doce',IntegerType(), True),
                StructField('v_gasto_produt_ouro',IntegerType(), True),
                StructField('num_comp_com_desc',IntegerType(), True),
                StructField('num_comp_site_empr',IntegerType(), True),
                StructField('num_comp_por_catalogo',IntegerType(), True),
                StructField('num_comp_na_loja',IntegerType(), True),
                StructField('visita_site_empr_ultm_mes',IntegerType(), True),
                StructField('comp_1_oferta',StringType(), True),
                StructField('comp_2_oferta',StringType(), True),
                StructField('comp_3_oferta',StringType(), True),
                StructField('comp_4_oferta',StringType(), True),
                StructField('comp_5_oferta',StringType(), True),
                StructField('reclamacao_cliente',IntegerType(), True)
    ])
)

##**8.2. Importando DataFrame para PySpark**

In [ ]:
dfs = ( spark.read
            .format('csv')
            .option('header', 'true')
            .option('delimiter', ',')
            .option('inferschema', 'true')
            .load('gs://projeto_bc12_av/tratamento/analise_campanhas_de_marketing_pandas.csv')
)

In [ ]:
dfs.printSchema()

In [ ]:
dfs.toPandas()

,id_cliente,ano_nasc_cliente,formac_academica,estado_civil,renda_anual,num_crianca_em_casa,num_adolecente_em_casa,data_cadastro_cliente,ultm_comp_a_x_dia,v_gasto_produt_base_uva,v_gasto_produt_fruta,v_gasto_produt_carne,v_gasto_produt_pescado,v_gasto_produt_doce,v_gasto_produt_ouro,num_comp_com_desc,num_comp_site_empr,num_comp_por_catalogo,num_comp_na_loja,visita_site_empr_ultm_mes,comp_3_oferta,comp_4_oferta,comp_5_oferta,comp_1_oferta,comp_2_oferta,reclamacao_cliente
0,5524,1957,graduacao,solteira_o,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,nao,nao,nao,nao,nao,0
1,2174,1954,graduacao,solteira_o,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,nao,nao,nao,nao,nao,0
2,4141,1965,graduacao,junto,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,nao,nao,nao,nao,nao,0
3,6182,1984,graduacao,junto,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,nao,nao,nao,nao,nao,0
4,5324,1981,doutorado,casada_o,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,nao,nao,nao,nao,nao,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,graduacao,casada_o,61223.0,0,1,13-06-2013,46,709,43,182,42,118,247,2,9,3,4,5,nao,nao,nao,nao,nao,0
2236,4001,1946,doutorado,junto,64014.0,2,1,10-06-2014,56,406,0,30,0,0,8,7,8,2,5,7,nao,nao,nao,sim,nao,0
2237,7270,1981,graduacao,divorciada_o,56981.0,0,0,25-01-2014,91,908,48,217,32,12,24,1,2,3,13,6,nao,sim,nao,nao,nao,0
2238,8235,1956,mestre,junto,69245.0,0,1,24-01-2014,8,428,30,214,80,30,61,2,6,5,10,3,nao,nao,nao,nao,nao,0
2239,9405,1954,doutorado,casada_o,52869.0,1,1,15-10-2012,40,84,3,61,2,1,21,3,3,1,4,7,nao,nao,nao,nao,nao,0

#**9. Valores nulos e outras inconsistências**

##**9.1. Verificação de valores nulos**

---
Não foram encontrados valores nulos. Esse tratamento foi realizado em pandas.

In [ ]:
dfs.toPandas().isna().sum()

##**9.2 Inconcistências**

---
- Ordenar ordem de algumas colunas

In [ ]:
dfs.toPandas().head(2)

,id_cliente,ano_nasc_cliente,formac_academica,estado_civil,renda_anual,num_crianca_em_casa,num_adolecente_em_casa,data_cadastro_cliente,ultm_comp_a_x_dia,v_gasto_produt_base_uva,v_gasto_produt_fruta,v_gasto_produt_carne,v_gasto_produt_pescado,v_gasto_produt_doce,v_gasto_produt_ouro,num_comp_com_desc,num_comp_site_empr,num_comp_por_catalogo,num_comp_na_loja,visita_site_empr_ultm_mes,comp_3_oferta,comp_4_oferta,comp_5_oferta,comp_1_oferta,comp_2_oferta,reclamacao_cliente
0,5524,1957,graduacao,solteira_o,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,nao,nao,nao,nao,nao,0
1,2174,1954,graduacao,solteira_o,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,nao,nao,nao,nao,nao,0

###9.2.1. Ordernar colunas

---
Algumas colunas não estavam adequadas em sua ordem

In [ ]:
dfs2 = (dfs.select([
             F.col('id_cliente'),F.col('ano_nasc_cliente'),F.col('formac_academica'),F.col('estado_civil'),F.col('renda_anual'),
             F.col('num_crianca_em_casa'),F.col('num_adolecente_em_casa'),F.col('data_cadastro_cliente'),F.col('ultm_comp_a_x_dia'),
             F.col('v_gasto_produt_base_uva'),F.col('v_gasto_produt_fruta'),F.col('v_gasto_produt_carne'),F.col('v_gasto_produt_pescado'),
             F.col('v_gasto_produt_doce'),F.col('v_gasto_produt_ouro'),F.col('num_comp_com_desc'),F.col('num_comp_site_empr'),
             F.col('num_comp_por_catalogo'),F.col('num_comp_na_loja'),F.col('visita_site_empr_ultm_mes'),F.col('comp_1_oferta'),
             F.col('comp_2_oferta'),F.col('comp_3_oferta'),F.col('comp_4_oferta'),F.col('comp_5_oferta'),F.col('reclamacao_cliente')])
)
dfs2.show()

In [ ]:
dfs2.toPandas().head(2)

#10. Drop

---
Não identifiquei a necessidade de realizar o Drop em linhas. Quanto as colunas, realizei em Pandas (item 6.2.3.).

#11. Renomear colunas

In [ ]:
dfs2.toPandas().head(2)

,id_cliente,ano_nasc_cliente,formac_academica,estado_civil,renda_anual,num_crianca_em_casa,num_adolecente_em_casa,data_cadastro_cliente,ultm_comp_a_x_dia,v_gasto_produt_base_uva,v_gasto_produt_fruta,v_gasto_produt_carne,v_gasto_produt_pescado,v_gasto_produt_doce,v_gasto_produt_ouro,num_comp_com_desc,num_comp_site_empr,num_comp_por_catalogo,num_comp_na_loja,visita_site_empr_ultm_mes,comp_1_oferta,comp_2_oferta,comp_3_oferta,comp_4_oferta,comp_5_oferta,reclamacao_cliente
0,5524,1957,graduacao,solteira_o,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,nao,nao,nao,nao,nao,0
1,2174,1954,graduacao,solteira_o,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,nao,nao,nao,nao,nao,0

##**Colunas renomeadas 01**

In [ ]:
dfs3 = (dfs2.withColumnRenamed("comp_1_oferta","comp_feita_camp1")
 .withColumnRenamed("comp_2_oferta","comp_feita_camp2")
 .withColumnRenamed("comp_3_oferta","comp_feita_camp3")
 .withColumnRenamed("comp_4_oferta","comp_feita_camp4")
 .withColumnRenamed("comp_5_oferta","comp_feita_camp5")
 )
dfs3.show()

+----------+----------------+----------------+------------+-----------+-------------------+----------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-----------------+------------------+---------------------+----------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+
|id_cliente|ano_nasc_cliente|formac_academica|estado_civil|renda_anual|num_crianca_em_casa|num_adolecente_em_casa|data_cadastro_cliente|ultm_comp_a_x_dia|v_gasto_produt_base_uva|v_gasto_produt_fruta|v_gasto_produt_carne|v_gasto_produt_pescado|v_gasto_produt_doce|v_gasto_produt_ouro|num_comp_com_desc|num_comp_site_empr|num_comp_por_catalogo|num_comp_na_loja|visita_site_empr_ultm_mes|comp_feita_camp1|comp_feita_camp2|comp_feita_camp3|comp_feita_camp4|comp_feita_camp5|reclamacao_cliente|
+----------+----------------+----------------+------------+-----------+-------------------+----------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-----------------+------------------+---------------------+----------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+
|      5524|            1957|       graduacao|  solteira_o|    58138.0|                  0|                     0|           04-09-2012|               58|                    635|                  88|                 546|                   172|                 88|                 88|                3|                 8|                   10|               4|                        7|             nao|             nao|             nao|             nao|             nao|                 0|
|      2174|            1954|       graduacao|  solteira_o|    46344.0|                  1|                     1|           08-03-2014|               38|                     11|                   1|                   6|                     2|                  1|                  6|                2|                 1|                    1|               2|                        5|             nao|             nao|             nao|             nao|             nao|                 0|
|      4141|            1965|       graduacao|       junto|    71613.0|                  0|                     0|           21-08-2013|               26|                    426|                  49|                 127|                   111|                 21|                 42|                1|                 8|                    2|              10|                        4|             nao|             nao|             nao|             nao|             nao|                 0|
|      6182|            1984|       graduacao|       junto|    26646.0|                  1|                     0|           10-02-2014|               26|                     11|                   4|                  20|                    10|                  3|                  5|                2|                 2|                    0|               4|                        6|             nao|             nao|             nao|             nao|             nao|                 0|
|      5324|            1981|       doutorado|    casada_o|    58293.0|                  1|                     0|           19-01-2014|               94|                    173|                  43|                 118|                    46|                 27|                 15|                5|                 5|                    3|               6|                        5|             nao|             nao|             nao|             nao|             nao|                 0|
|      7446|            1967|          mestre|       junto|    62513.0|                  0|                     1|           09-09-2013|               16|                    520|                  42|                  98|                     0|                 42|                 14|                2|                 6|                    4|              10|                        6|             nao|             nao|             nao|             nao|             nao|                 0|
|       965|            1971|       graduacao|divorciada_o|    55635.0|                  0|                     1|           13-11-2012|               34|                    235|                  65|                 164|                    50|                 49|                 27|                4|                 7|                    3|               7|                        6|             nao|             nao|             nao|             nao|             nao|                 0|
|      6177|            1985|       doutorado|    casada_o|    33454.0|                  1|                     0|           08-05-2013|               32|                     76|                  10|                  56|                     3|                  1|                 23|                2|                 4|                    0|               4|                        8|             nao|             nao|             nao|             nao|             nao|                 0|
|      4855|            1974|       doutorado|       junto|    30351.0|                  1|                     0|           06-06-2013|               19|                     14|                   0|                  24|                     3|                  3|                  2|                1|                 3|                    0|               2|                        9|             nao|             nao|             nao|             nao|             nao|                 0|
|      5899|            1950|       doutorado|       junto|     5648.0|                  1|                     1|           13-03-2014|               68|                     28|                   0|                   6|                     1|                  1|                 13|                1|                 1|                    0|               0|                       20|             nao|             nao|             sim|             nao|             nao|                 0|
|      1994|            1983|       graduacao|    casada_o|        0.0|                  1|                     0|           15-11-2013|               11|                      5|                   5|                   6|                     0|                  2|                  1|                1|                 1|                    0|               2|                        7|             nao|             nao|             nao|             nao|             nao|                 0|
|       387|            1976|          basico|    casada_o|     7500.0|                  0|                     0|           13-11-2012|               59|                      6|                  16|                  11|                    11|                  1|                 16|                1|                 2|                    0|               3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|
|      2125|            1959|       graduacao|divorciada_o|    63033.0|                  0|                     0|           15-11-2013|               82|                    194|                  61|                 480|                   225|                112|                 30|                1|                 3|                    4|               8|                        2|             nao|             nao|             nao|             nao|             nao|                 0|
|      8180|            1952|          mestre|divorciada_o|    59354.0|                  1|                     1|           15-11-2013|               53|                    233|                   2|                  53|                     3|                  5|                 14|                3|                 6|                    1|               5|                        6|             nao|             nao|             nao|             nao|             nao|                 0|
|      2569|            1987|       graduacao|    casada_o|    17323.0|                  0|                     0|           10-10-2012|               38|                      3|                  14|                  17|                     6|                  1|                  5|                1|                 1|                    0|               3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|
|      2114|            1946|       doutorado|  solteira_o|    82800.0|                  0|                     0|           24-11-2012|               23|                   1006|                  22|                 115|                    59|                 68|                 45|                1|                 7|                    6|              12|                        3|             sim|             nao|             nao|             nao|             sim|                 0|
|      9736|            1980|       graduacao|    casada_o|    41850.0|                  1|                     1|           24-12-2012|               51|                     53|                   5|                  19|                     2|                 13|                  4|                3|                 3|                    0|               3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|
|      4939|            1946|       graduacao|       junto|    37760.0|                  0|                     0|           31-08-2012|               20|                     84|                   5|                  38|                   150|                 12|                 28|                2|                 4|                    1|               6|                        7|             nao|             nao|             nao|             nao|             nao|                 0|
|      6565|            1949|          mestre|    casada_o|    76995.0|                  0|                     1|           28-03-2013|               91|                   1012|                  80|                 498|                     0|                 16|                176|                2|                11|                    4|               9|                        5|             sim|             nao|             nao|             nao|             nao|                 0|
|      2278|            1985|        colegial|  solteira_o|    33812.0|                  1|                     0|           03-11-2012|               86|                      4|                  17|                  19|                    30|                 24|                 39|                2|                 2|                    1|               3|                        6|             nao|             nao|             nao|             nao|             nao|                 0|
+----------+----------------+----------------+------------+-----------+-------------------+----------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-----------------+------------------+---------------------+----------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+
only showing top 20 rows

In [ ]:
dfs3.toPandas().head(2)

,id_cliente,ano_nasc_cliente,formac_academica,estado_civil,renda_anual,num_crianca_em_casa,num_adolecente_em_casa,data_cadastro_cliente,ultm_comp_a_x_dia,v_gasto_produt_base_uva,v_gasto_produt_fruta,v_gasto_produt_carne,v_gasto_produt_pescado,v_gasto_produt_doce,v_gasto_produt_ouro,num_comp_com_desc,num_comp_site_empr,num_comp_por_catalogo,num_comp_na_loja,visita_site_empr_ultm_mes,comp_feita_camp1,comp_feita_camp2,comp_feita_camp3,comp_feita_camp4,comp_feita_camp5,reclamacao_cliente
0,5524,1957,graduacao,solteira_o,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,nao,nao,nao,nao,nao,0
1,2174,1954,graduacao,solteira_o,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,nao,nao,nao,nao,nao,0

##**Colunas renomeadas 02**

In [ ]:
dfs4 = (dfs3.withColumnRenamed("num_comp_com_desc","comp_com_desc")
 .withColumnRenamed("num_comp_site_empr","comp_site_empr")
 .withColumnRenamed("num_comp_por_catalogo","comp_por_catalogo")
 .withColumnRenamed("num_comp_na_loja","comp_na_loja")
 .withColumnRenamed("num_crianca_em_casa","crianca_em_casa")
 .withColumnRenamed("num_adolecente_em_casa","adolecente_em_casa")
 )
dfs4.show()

+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+
|id_cliente|ano_nasc_cliente|formac_academica|estado_civil|renda_anual|crianca_em_casa|adolecente_em_casa|data_cadastro_cliente|ultm_comp_a_x_dia|v_gasto_produt_base_uva|v_gasto_produt_fruta|v_gasto_produt_carne|v_gasto_produt_pescado|v_gasto_produt_doce|v_gasto_produt_ouro|comp_com_desc|comp_site_empr|comp_por_catalogo|comp_na_loja|visita_site_empr_ultm_mes|comp_feita_camp1|comp_feita_camp2|comp_feita_camp3|comp_feita_camp4|comp_feita_camp5|reclamacao_cliente|
+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+
|      5524|            1957|       graduacao|  solteira_o|    58138.0|              0|                 0|           04-09-2012|               58|                    635|                  88|                 546|                   172|                 88|                 88|            3|             8|               10|           4|                        7|             nao|             nao|             nao|             nao|             nao|                 0|
|      2174|            1954|       graduacao|  solteira_o|    46344.0|              1|                 1|           08-03-2014|               38|                     11|                   1|                   6|                     2|                  1|                  6|            2|             1|                1|           2|                        5|             nao|             nao|             nao|             nao|             nao|                 0|
|      4141|            1965|       graduacao|       junto|    71613.0|              0|                 0|           21-08-2013|               26|                    426|                  49|                 127|                   111|                 21|                 42|            1|             8|                2|          10|                        4|             nao|             nao|             nao|             nao|             nao|                 0|
|      6182|            1984|       graduacao|       junto|    26646.0|              1|                 0|           10-02-2014|               26|                     11|                   4|                  20|                    10|                  3|                  5|            2|             2|                0|           4|                        6|             nao|             nao|             nao|             nao|             nao|                 0|
|      5324|            1981|       doutorado|    casada_o|    58293.0|              1|                 0|           19-01-2014|               94|                    173|                  43|                 118|                    46|                 27|                 15|            5|             5|                3|           6|                        5|             nao|             nao|             nao|             nao|             nao|                 0|
|      7446|            1967|          mestre|       junto|    62513.0|              0|                 1|           09-09-2013|               16|                    520|                  42|                  98|                     0|                 42|                 14|            2|             6|                4|          10|                        6|             nao|             nao|             nao|             nao|             nao|                 0|
|       965|            1971|       graduacao|divorciada_o|    55635.0|              0|                 1|           13-11-2012|               34|                    235|                  65|                 164|                    50|                 49|                 27|            4|             7|                3|           7|                        6|             nao|             nao|             nao|             nao|             nao|                 0|
|      6177|            1985|       doutorado|    casada_o|    33454.0|              1|                 0|           08-05-2013|               32|                     76|                  10|                  56|                     3|                  1|                 23|            2|             4|                0|           4|                        8|             nao|             nao|             nao|             nao|             nao|                 0|
|      4855|            1974|       doutorado|       junto|    30351.0|              1|                 0|           06-06-2013|               19|                     14|                   0|                  24|                     3|                  3|                  2|            1|             3|                0|           2|                        9|             nao|             nao|             nao|             nao|             nao|                 0|
|      5899|            1950|       doutorado|       junto|     5648.0|              1|                 1|           13-03-2014|               68|                     28|                   0|                   6|                     1|                  1|                 13|            1|             1|                0|           0|                       20|             nao|             nao|             sim|             nao|             nao|                 0|
|      1994|            1983|       graduacao|    casada_o|        0.0|              1|                 0|           15-11-2013|               11|                      5|                   5|                   6|                     0|                  2|                  1|            1|             1|                0|           2|                        7|             nao|             nao|             nao|             nao|             nao|                 0|
|       387|            1976|          basico|    casada_o|     7500.0|              0|                 0|           13-11-2012|               59|                      6|                  16|                  11|                    11|                  1|                 16|            1|             2|                0|           3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|
|      2125|            1959|       graduacao|divorciada_o|    63033.0|              0|                 0|           15-11-2013|               82|                    194|                  61|                 480|                   225|                112|                 30|            1|             3|                4|           8|                        2|             nao|             nao|             nao|             nao|             nao|                 0|
|      8180|            1952|          mestre|divorciada_o|    59354.0|              1|                 1|           15-11-2013|               53|                    233|                   2|                  53|                     3|                  5|                 14|            3|             6|                1|           5|                        6|             nao|             nao|             nao|             nao|             nao|                 0|
|      2569|            1987|       graduacao|    casada_o|    17323.0|              0|                 0|           10-10-2012|               38|                      3|                  14|                  17|                     6|                  1|                  5|            1|             1|                0|           3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|
|      2114|            1946|       doutorado|  solteira_o|    82800.0|              0|                 0|           24-11-2012|               23|                   1006|                  22|                 115|                    59|                 68|                 45|            1|             7|                6|          12|                        3|             sim|             nao|             nao|             nao|             sim|                 0|
|      9736|            1980|       graduacao|    casada_o|    41850.0|              1|                 1|           24-12-2012|               51|                     53|                   5|                  19|                     2|                 13|                  4|            3|             3|                0|           3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|
|      4939|            1946|       graduacao|       junto|    37760.0|              0|                 0|           31-08-2012|               20|                     84|                   5|                  38|                   150|                 12|                 28|            2|             4|                1|           6|                        7|             nao|             nao|             nao|             nao|             nao|                 0|
|      6565|            1949|          mestre|    casada_o|    76995.0|              0|                 1|           28-03-2013|               91|                   1012|                  80|                 498|                     0|                 16|                176|            2|            11|                4|           9|                        5|             sim|             nao|             nao|             nao|             nao|                 0|
|      2278|            1985|        colegial|  solteira_o|    33812.0|              1|                 0|           03-11-2012|               86|                      4|                  17|                  19|                    30|                 24|                 39|            2|             2|                1|           3|                        6|             nao|             nao|             nao|             nao|             nao|                 0|
+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+
only showing top 20 rows

In [ ]:
dfs4.toPandas().head(2)

,id_cliente,ano_nasc_cliente,formac_academica,estado_civil,renda_anual,crianca_em_casa,adolecente_em_casa,data_cadastro_cliente,ultm_comp_a_x_dia,v_gasto_produt_base_uva,v_gasto_produt_fruta,v_gasto_produt_carne,v_gasto_produt_pescado,v_gasto_produt_doce,v_gasto_produt_ouro,comp_com_desc,comp_site_empr,comp_por_catalogo,comp_na_loja,visita_site_empr_ultm_mes,comp_feita_camp1,comp_feita_camp2,comp_feita_camp3,comp_feita_camp4,comp_feita_camp5,reclamacao_cliente
0,5524,1957,graduacao,solteira_o,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,nao,nao,nao,nao,nao,0
1,2174,1954,graduacao,solteira_o,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,nao,nao,nao,nao,nao,0

#**12. Agrupamento / Agregação / Join**

##**12.1. Criando uma nova coluna com base em mais de duas condições**

---
A nova coluna identifica a geração de cada cliente com base em seu ano de nascimento (coluna: ‘ano_nasc_cliente’).

In [ ]:
dfs5 = (dfs4.withColumn("geracao", F.when((F.col('ano_nasc_cliente') >= 1945) & (F.col('ano_nasc_cliente') <= 1963), F.lit('Baby_Boomers'))
                                .when((F.col('ano_nasc_cliente') >= 1964 ) & (F.col('ano_nasc_cliente') <= 1980), F.lit('Geracao_X'))
                                .when((F.col('ano_nasc_cliente') >= 1981 ) & (F.col('ano_nasc_cliente') <= 1997), F.lit('Geracao_Y'))
                                .when((F.col('ano_nasc_cliente') >= 1998 ) & (F.col('ano_nasc_cliente') <= 2009), F.lit('Geracao_Z'))
                                .otherwise(F.lit('Geracao_Z'))))
dfs5.show()

+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+
|id_cliente|ano_nasc_cliente|formac_academica|estado_civil|renda_anual|crianca_em_casa|adolecente_em_casa|data_cadastro_cliente|ultm_comp_a_x_dia|v_gasto_produt_base_uva|v_gasto_produt_fruta|v_gasto_produt_carne|v_gasto_produt_pescado|v_gasto_produt_doce|v_gasto_produt_ouro|comp_com_desc|comp_site_empr|comp_por_catalogo|comp_na_loja|visita_site_empr_ultm_mes|comp_feita_camp1|comp_feita_camp2|comp_feita_camp3|comp_feita_camp4|comp_feita_camp5|reclamacao_cliente|     geracao|
+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+
|      5524|            1957|       graduacao|  solteira_o|    58138.0|              0|                 0|           04-09-2012|               58|                    635|                  88|                 546|                   172|                 88|                 88|            3|             8|               10|           4|                        7|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|
|      2174|            1954|       graduacao|  solteira_o|    46344.0|              1|                 1|           08-03-2014|               38|                     11|                   1|                   6|                     2|                  1|                  6|            2|             1|                1|           2|                        5|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|
|      4141|            1965|       graduacao|       junto|    71613.0|              0|                 0|           21-08-2013|               26|                    426|                  49|                 127|                   111|                 21|                 42|            1|             8|                2|          10|                        4|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|
|      6182|            1984|       graduacao|       junto|    26646.0|              1|                 0|           10-02-2014|               26|                     11|                   4|                  20|                    10|                  3|                  5|            2|             2|                0|           4|                        6|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|
|      5324|            1981|       doutorado|    casada_o|    58293.0|              1|                 0|           19-01-2014|               94|                    173|                  43|                 118|                    46|                 27|                 15|            5|             5|                3|           6|                        5|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|
|      7446|            1967|          mestre|       junto|    62513.0|              0|                 1|           09-09-2013|               16|                    520|                  42|                  98|                     0|                 42|                 14|            2|             6|                4|          10|                        6|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|
|       965|            1971|       graduacao|divorciada_o|    55635.0|              0|                 1|           13-11-2012|               34|                    235|                  65|                 164|                    50|                 49|                 27|            4|             7|                3|           7|                        6|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|
|      6177|            1985|       doutorado|    casada_o|    33454.0|              1|                 0|           08-05-2013|               32|                     76|                  10|                  56|                     3|                  1|                 23|            2|             4|                0|           4|                        8|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|
|      4855|            1974|       doutorado|       junto|    30351.0|              1|                 0|           06-06-2013|               19|                     14|                   0|                  24|                     3|                  3|                  2|            1|             3|                0|           2|                        9|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|
|      5899|            1950|       doutorado|       junto|     5648.0|              1|                 1|           13-03-2014|               68|                     28|                   0|                   6|                     1|                  1|                 13|            1|             1|                0|           0|                       20|             nao|             nao|             sim|             nao|             nao|                 0|Baby_Boomers|
|      1994|            1983|       graduacao|    casada_o|        0.0|              1|                 0|           15-11-2013|               11|                      5|                   5|                   6|                     0|                  2|                  1|            1|             1|                0|           2|                        7|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|
|       387|            1976|          basico|    casada_o|     7500.0|              0|                 0|           13-11-2012|               59|                      6|                  16|                  11|                    11|                  1|                 16|            1|             2|                0|           3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|
|      2125|            1959|       graduacao|divorciada_o|    63033.0|              0|                 0|           15-11-2013|               82|                    194|                  61|                 480|                   225|                112|                 30|            1|             3|                4|           8|                        2|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|
|      8180|            1952|          mestre|divorciada_o|    59354.0|              1|                 1|           15-11-2013|               53|                    233|                   2|                  53|                     3|                  5|                 14|            3|             6|                1|           5|                        6|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|
|      2569|            1987|       graduacao|    casada_o|    17323.0|              0|                 0|           10-10-2012|               38|                      3|                  14|                  17|                     6|                  1|                  5|            1|             1|                0|           3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|
|      2114|            1946|       doutorado|  solteira_o|    82800.0|              0|                 0|           24-11-2012|               23|                   1006|                  22|                 115|                    59|                 68|                 45|            1|             7|                6|          12|                        3|             sim|             nao|             nao|             nao|             sim|                 0|Baby_Boomers|
|      9736|            1980|       graduacao|    casada_o|    41850.0|              1|                 1|           24-12-2012|               51|                     53|                   5|                  19|                     2|                 13|                  4|            3|             3|                0|           3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|
|      4939|            1946|       graduacao|       junto|    37760.0|              0|                 0|           31-08-2012|               20|                     84|                   5|                  38|                   150|                 12|                 28|            2|             4|                1|           6|                        7|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|
|      6565|            1949|          mestre|    casada_o|    76995.0|              0|                 1|           28-03-2013|               91|                   1012|                  80|                 498|                     0|                 16|                176|            2|            11|                4|           9|                        5|             sim|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|
|      2278|            1985|        colegial|  solteira_o|    33812.0|              1|                 0|           03-11-2012|               86|                      4|                  17|                  19|                    30|                 24|                 39|            2|             2|                1|           3|                        6|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|
+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+
only showing top 20 rows

In [ ]:
dfs5.toPandas()

,id_cliente,ano_nasc_cliente,formac_academica,estado_civil,renda_anual,crianca_em_casa,adolecente_em_casa,data_cadastro_cliente,ultm_comp_a_x_dia,v_gasto_produt_base_uva,v_gasto_produt_fruta,v_gasto_produt_carne,v_gasto_produt_pescado,v_gasto_produt_doce,v_gasto_produt_ouro,comp_com_desc,comp_site_empr,comp_por_catalogo,comp_na_loja,visita_site_empr_ultm_mes,comp_feita_camp1,comp_feita_camp2,comp_feita_camp3,comp_feita_camp4,comp_feita_camp5,reclamacao_cliente,geracao
0,5524,1957,graduacao,solteira_o,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,nao,nao,nao,nao,nao,0,Baby_Boomers
1,2174,1954,graduacao,solteira_o,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,nao,nao,nao,nao,nao,0,Baby_Boomers
2,4141,1965,graduacao,junto,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,nao,nao,nao,nao,nao,0,Geracao_X
3,6182,1984,graduacao,junto,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,nao,nao,nao,nao,nao,0,Geracao_Y
4,5324,1981,doutorado,casada_o,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,nao,nao,nao,nao,nao,0,Geracao_Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,graduacao,casada_o,61223.0,0,1,13-06-2013,46,709,43,182,42,118,247,2,9,3,4,5,nao,nao,nao,nao,nao,0,Geracao_X
2236,4001,1946,doutorado,junto,64014.0,2,1,10-06-2014,56,406,0,30,0,0,8,7,8,2,5,7,sim,nao,nao,nao,nao,0,Baby_Boomers
2237,7270,1981,graduacao,divorciada_o,56981.0,0,0,25-01-2014,91,908,48,217,32,12,24,1,2,3,13,6,nao,nao,nao,sim,nao,0,Geracao_Y
2238,8235,1956,mestre,junto,69245.0,0,1,24-01-2014,8,428,30,214,80,30,61,2,6,5,10,3,nao,nao,nao,nao,nao,0,Baby_Boomers
2239,9405,1954,doutorado,casada_o,52869.0,1,1,15-10-2012,40,84,3,61,2,1,21,3,3,1,4,7,nao,nao,nao,nao,nao,0,Baby_Boomers

##**12.2. Agregação** (Há um df unico aqui)

---
Aqui é gerada informações referentes a soma da renda anual da agregação de cada geração, além da renda anual máxima, mínima e média.

In [ ]:
dfs6 = (dfs5.groupBy(F.col("geracao"))
          .agg(F.sum(("renda_anual")),
          F.max(("renda_anual")),
          F.min(("renda_anual")),
          F.avg("renda_anual"))
)
dfs6.show()

+------------+----------------+----------------+----------------+-----------------+
|     geracao|sum(renda_anual)|max(renda_anual)|min(renda_anual)| avg(renda_anual)|
+------------+----------------+----------------+----------------+-----------------+
|Baby_Boomers|     4.0946868E7|        156924.0|             0.0|56478.43862068965|
|   Geracao_Z|       1163807.0|         93027.0|             0.0|          61253.0|
|   Geracao_X|     5.5975634E7|        666666.0|             0.0|50383.10891089109|
|   Geracao_Y|       1.76936E7|        160803.0|             0.0| 45957.4025974026|
+------------+----------------+----------------+----------------+-----------------+

In [ ]:
dfs6.toPandas()

,geracao,sum(renda_anual),max(renda_anual),min(renda_anual),avg(renda_anual)
0,Baby_Boomers,40946868.0,156924.0,0.0,56478.438621
1,Geracao_Z,1163807.0,93027.0,0.0,61253.000000
2,Geracao_X,55975634.0,666666.0,0.0,50383.108911
3,Geracao_Y,17693600.0,160803.0,0.0,45957.402597

#**13. Filtros**

##**13.1. Exibir a geração e formação academica das pessoas casadas**

In [ ]:
dfs5.select(F.col('estado_civil'), F.col('geracao'), F.col('formac_academica')).filter(F.col('estado_civil') == "casada_o").show(20)

+------------+------------+----------------+
|estado_civil|     geracao|formac_academica|
+------------+------------+----------------+
|    casada_o|   Geracao_Y|       doutorado|
|    casada_o|   Geracao_Y|       doutorado|
|    casada_o|   Geracao_Y|       graduacao|
|    casada_o|   Geracao_X|          basico|
|    casada_o|   Geracao_Y|       graduacao|
|    casada_o|   Geracao_X|       graduacao|
|    casada_o|Baby_Boomers|          mestre|
|    casada_o|   Geracao_Y|       graduacao|
|    casada_o|   Geracao_X|       graduacao|
|    casada_o|Baby_Boomers|       doutorado|
|    casada_o|Baby_Boomers|       doutorado|
|    casada_o|   Geracao_X|       graduacao|
|    casada_o|   Geracao_Y|       graduacao|
|    casada_o|   Geracao_X|       doutorado|
|    casada_o|Baby_Boomers|          mestre|
|    casada_o|   Geracao_X|       doutorado|
|    casada_o|   Geracao_X|        colegial|
|    casada_o|   Geracao_X|       graduacao|
|    casada_o|   Geracao_Y|          mestre|
|    casada_o|   Geracao_X|          mestre|
+------------+------------+----------------+
only showing top 20 rows

##**13.2. Clientes que compraram produtos a base de uva na primeira campanha no valor superior a 100.**

In [ ]:
dfs5.filter((F.col("comp_feita_camp1") == "sim") & (F.col("v_gasto_produt_base_uva") >= 100)).show()

+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+
|id_cliente|ano_nasc_cliente|formac_academica|estado_civil|renda_anual|crianca_em_casa|adolecente_em_casa|data_cadastro_cliente|ultm_comp_a_x_dia|v_gasto_produt_base_uva|v_gasto_produt_fruta|v_gasto_produt_carne|v_gasto_produt_pescado|v_gasto_produt_doce|v_gasto_produt_ouro|comp_com_desc|comp_site_empr|comp_por_catalogo|comp_na_loja|visita_site_empr_ultm_mes|comp_feita_camp1|comp_feita_camp2|comp_feita_camp3|comp_feita_camp4|comp_feita_camp5|reclamacao_cliente|     geracao|
+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+
|      2114|            1946|       doutorado|  solteira_o|    82800.0|              0|                 0|           24-11-2012|               23|                   1006|                  22|                 115|                    59|                 68|                 45|            1|             7|                6|          12|                        3|             sim|             nao|             nao|             nao|             sim|                 0|Baby_Boomers|
|      6565|            1949|          mestre|    casada_o|    76995.0|              0|                 1|           28-03-2013|               91|                   1012|                  80|                 498|                     0|                 16|                176|            2|            11|                4|           9|                        5|             sim|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|
|      2225|            1977|       graduacao|divorciada_o|    82582.0|              0|                 0|           07-06-2014|               54|                    510|                 120|                 550|                   156|                 40|                241|            1|             4|                9|           7|                        1|             sim|             nao|             sim|             nao|             nao|                 0|   Geracao_X|
|      9369|            1979|        colegial|  solteira_o|    88194.0|              0|                 1|           19-03-2014|               19|                    688|                  14|                 309|                   201|                 24|                 38|            1|            11|               10|          10|                        5|             sim|             nao|             sim|             nao|             nao|                 0|   Geracao_X|
|      4452|            1957|       graduacao|  solteira_o|    50388.0|              0|                 1|           28-05-2014|                3|                    292|                   6|                  37|                     0|                  3|                 34|            4|             6|                1|           6|                        7|             sim|             nao|             nao|             sim|             nao|                 0|Baby_Boomers|
|      4646|            1951|        colegial|    casada_o|    78497.0|              0|                 0|           01-12-2013|               44|                    207|                  26|                 447|                    75|                  0|                223|            1|             5|                7|          12|                        2|             sim|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|
|      1592|            1970|       graduacao|    casada_o|    90765.0|              0|                 0|           24-01-2014|               25|                    547|                  99|                 812|                   151|                 82|                 33|            0|             4|                6|           5|                        1|             sim|             nao|             nao|             nao|             sim|                 0|   Geracao_X|
|      7215|            1983|       graduacao|  solteira_o|   101970.0|              0|                 0|           12-03-2013|               69|                    722|                  27|                 102|                    44|                 72|                168|            0|             6|                8|          13|                        2|             sim|             nao|             nao|             sim|             sim|                 0|   Geracao_Y|
|     10314|            1948|       doutorado|    casada_o|    83837.0|              0|                 0|           16-12-2012|               79|                    847|                  66|                 119|                    86|                 89|                111|            1|             9|               10|           5|                        4|             sim|             nao|             nao|             sim|             nao|                 0|Baby_Boomers|
|      6935|            1951|        colegial|    casada_o|    78497.0|              0|                 0|           01-12-2013|               44|                    207|                  26|                 447|                    75|                  0|                223|            1|             5|                7|          12|                        2|             sim|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|
|      2798|            1977|       doutorado|       junto|   102160.0|              0|                 0|           02-11-2012|               54|                    763|                  29|                 138|                    76|                176|                 58|            0|             7|                9|          10|                        4|             sim|             nao|             nao|             sim|             sim|                 0|   Geracao_X|
|      9529|            1990|       graduacao|    casada_o|    73687.0|              0|                 0|           28-11-2013|                8|                    559|                 153|                 503|                   218|                 13|                181|            1|             3|                9|           9|                        2|             sim|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|
|      2176|            1972|       graduacao|    casada_o|    80134.0|              1|                 0|           20-05-2013|               40|                   1218|                  16|                 272|                   104|                  0|                 80|            2|             5|                3|           6|                        6|             sim|             nao|             nao|             sim|             sim|                 0|   Geracao_X|
|     10089|            1974|       graduacao|divorciada_o|   102692.0|              0|                 0|           05-04-2013|                5|                    168|                 148|                 444|                    32|                172|                148|            1|             6|                9|          13|                        2|             sim|             sim|             nao|             sim|             sim|                 0|   Geracao_X|
|      3762|            1986|       doutorado|  solteira_o|    69867.0|              0|                 0|           02-04-2013|               30|                    196|                   0|                 512|                    33|                130|                 54|            1|             3|                5|           8|                        1|             sim|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|
|      9274|            1961|          mestre|    casada_o|    80950.0|              0|                 0|           28-03-2013|               44|                    525|                 147|                 112|                   219|                147|                 63|            1|             6|                7|           9|                        2|             sim|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|
|      2437|            1989|       graduacao|    casada_o|        0.0|              0|                 0|           03-06-2013|               69|                    861|                 138|                 461|                    60|                 30|                 61|            1|             6|                5|          12|                        3|             sim|             nao|             nao|             sim|             nao|                 0|   Geracao_Y|
|      2863|            1970|       graduacao|  solteira_o|        0.0|              1|                 2|           23-08-2013|               67|                    738|                  20|                 172|                    52|                 50|                 20|            6|             2|                3|          10|                        7|             sim|             nao|             nao|             sim|             nao|                 0|   Geracao_X|
|      7381|            1968|       graduacao|divorciada_o|    75693.0|              0|                 0|           06-12-2012|               10|                    797|                 153|                 293|                    72|                 97|                 30|            1|            11|                4|           6|                        4|             sim|             nao|             nao|             sim|             sim|                 0|   Geracao_X|
|      7030|            1955|       doutorado|    casada_o|    66465.0|              0|                 1|           30-03-2013|                1|                   1200|                   0|                 204|                    38|                 29|                 14|            3|            11|                9|          12|                        6|             sim|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|
+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+
only showing top 20 rows

In [ ]:
dfs5.toPandas()

,id_cliente,ano_nasc_cliente,formac_academica,estado_civil,renda_anual,crianca_em_casa,adolecente_em_casa,data_cadastro_cliente,ultm_comp_a_x_dia,v_gasto_produt_base_uva,v_gasto_produt_fruta,v_gasto_produt_carne,v_gasto_produt_pescado,v_gasto_produt_doce,v_gasto_produt_ouro,comp_com_desc,comp_site_empr,comp_por_catalogo,comp_na_loja,visita_site_empr_ultm_mes,comp_feita_camp1,comp_feita_camp2,comp_feita_camp3,comp_feita_camp4,comp_feita_camp5,reclamacao_cliente,geracao
0,5524,1957,graduacao,solteira_o,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,nao,nao,nao,nao,nao,0,Baby_Boomers
1,2174,1954,graduacao,solteira_o,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,nao,nao,nao,nao,nao,0,Baby_Boomers
2,4141,1965,graduacao,junto,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,nao,nao,nao,nao,nao,0,Geracao_X
3,6182,1984,graduacao,junto,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,nao,nao,nao,nao,nao,0,Geracao_Y
4,5324,1981,doutorado,casada_o,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,nao,nao,nao,nao,nao,0,Geracao_Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,graduacao,casada_o,61223.0,0,1,13-06-2013,46,709,43,182,42,118,247,2,9,3,4,5,nao,nao,nao,nao,nao,0,Geracao_X
2236,4001,1946,doutorado,junto,64014.0,2,1,10-06-2014,56,406,0,30,0,0,8,7,8,2,5,7,sim,nao,nao,nao,nao,0,Baby_Boomers
2237,7270,1981,graduacao,divorciada_o,56981.0,0,0,25-01-2014,91,908,48,217,32,12,24,1,2,3,13,6,nao,nao,nao,sim,nao,0,Geracao_Y
2238,8235,1956,mestre,junto,69245.0,0,1,24-01-2014,8,428,30,214,80,30,61,2,6,5,10,3,nao,nao,nao,nao,nao,0,Baby_Boomers
2239,9405,1954,doutorado,casada_o,52869.0,1,1,15-10-2012,40,84,3,61,2,1,21,3,3,1,4,7,nao,nao,nao,nao,nao,0,Baby_Boomers

#**14. Window Functions**

##**14.1. rank**

In [ ]:
wc = Window.partitionBy(F.col('estado_civil')).orderBy('crianca_em_casa')

In [ ]:
dfs5.withColumn('rank', F.rank().over(wc)).show()

+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+----+
|id_cliente|ano_nasc_cliente|formac_academica|estado_civil|renda_anual|crianca_em_casa|adolecente_em_casa|data_cadastro_cliente|ultm_comp_a_x_dia|v_gasto_produt_base_uva|v_gasto_produt_fruta|v_gasto_produt_carne|v_gasto_produt_pescado|v_gasto_produt_doce|v_gasto_produt_ouro|comp_com_desc|comp_site_empr|comp_por_catalogo|comp_na_loja|visita_site_empr_ultm_mes|comp_feita_camp1|comp_feita_camp2|comp_feita_camp3|comp_feita_camp4|comp_feita_camp5|reclamacao_cliente|     geracao|rank|
+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+----+
|       387|            1976|          basico|    casada_o|     7500.0|              0|                 0|           13-11-2012|               59|                      6|                  16|                  11|                    11|                  1|                 16|            1|             2|                0|           3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|   1|
|      2569|            1987|       graduacao|    casada_o|    17323.0|              0|                 0|           10-10-2012|               38|                      3|                  14|                  17|                     6|                  1|                  5|            1|             1|                0|           3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|   1|
|      6565|            1949|          mestre|    casada_o|    76995.0|              0|                 1|           28-03-2013|               91|                   1012|                  80|                 498|                     0|                 16|                176|            2|            11|                4|           9|                        5|             sim|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|   1|
|      9360|            1982|       graduacao|    casada_o|    37040.0|              0|                 0|           08-08-2012|               41|                     86|                   2|                  73|                    69|                 38|                 48|            1|             4|                2|           5|                        8|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|   1|
|      1993|            1949|       doutorado|    casada_o|    58607.0|              0|                 1|           23-12-2012|               63|                    867|                   0|                  86|                     0|                  0|                 19|            3|             2|                3|           9|                        8|             nao|             nao|             nao|             sim|             nao|                 0|Baby_Boomers|   1|
|      4047|            1954|       doutorado|    casada_o|    65324.0|              0|                 1|           11-01-2014|                0|                    384|                   0|                 102|                    21|                 32|                  5|            3|             6|                2|           9|                        4|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|   1|
|      1966|            1965|       doutorado|    casada_o|    84618.0|              0|                 0|           22-11-2013|               96|                    684|                 100|                 801|                    21|                 66|                  0|            1|             6|                9|          10|                        2|             nao|             nao|             nao|             nao|             sim|                 0|   Geracao_X|   1|
|      8755|            1946|          mestre|    casada_o|    68657.0|              0|                 0|           20-02-2013|                4|                    482|                  34|                 471|                   119|                 68|                 22|            1|             3|                5|           9|                        7|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|   1|
|      4339|            1970|       doutorado|    casada_o|    67353.0|              0|                 1|           31-12-2013|               37|                    702|                  17|                 151|                     0|                  8|                 35|            5|             5|                6|          12|                        2|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|   1|
|      8601|            1980|       graduacao|    casada_o|    80011.0|              0|                 1|           29-04-2013|                3|                    421|                  76|                 536|                    82|                178|                102|            2|             8|                6|           5|                        4|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|   1|
|      9909|            1996|        colegial|    casada_o|     7500.0|              0|                 0|           09-11-2012|               24|                      3|                  18|                  14|                    15|                 22|                 50|            3|             3|                1|           3|                        9|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|   1|
|      4114|            1964|          mestre|    casada_o|    79143.0|              0|                 0|           11-08-2012|                2|                    650|                  37|                 780|                    27|                167|                 32|            1|             6|                9|          13|                        3|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|   1|
|      8375|            1968|       doutorado|    casada_o|    55954.0|              0|                 1|           03-03-2014|               63|                    447|                   0|                  28|                     0|                  0|                 43|            3|             8|                2|           6|                        7|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|   1|
|      1402|            1954|          mestre|    casada_o|    66991.0|              0|                 0|           11-09-2012|                1|                    496|                  36|                 460|                   189|                 60|                 12|            3|             4|                8|           6|                        3|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|   1|
|      6312|            1959|       graduacao|    casada_o|    65031.0|              0|                 1|           17-03-2013|               29|                    258|                 107|                 291|                    84|                 37|                 86|            4|            10|                3|          13|                        7|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|   1|
|      1050|            1952|       graduacao|    casada_o|    28332.0|              0|                 0|           30-04-2014|               58|                     14|                  10|                  13|                     4|                 15|                  9|            1|             2|                1|           4|                        2|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|   1|
|      1859|            1972|          mestre|    casada_o|    75251.0|              0|                 0|           27-08-2012|               34|                    721|                 111|                 925|                    97|                 18|                 18|            1|             7|                6|           5|                        5|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_X|   1|
|      8504|            1973|       graduacao|    casada_o|    79593.0|              0|                 0|           12-05-2014|               70|                    350|                  60|                 568|                   110|                133|                145|            1|             5|                6|           7|                        2|             nao|             nao|             nao|             nao|             sim|                 0|   Geracao_X|   1|
|      4646|            1951|        colegial|    casada_o|    78497.0|              0|                 0|           01-12-2013|               44|                    207|                  26|                 447|                    75|                  0|                223|            1|             5|                7|          12|                        2|             sim|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|   1|
|      3037|            1983|       doutorado|    casada_o|    50150.0|              0|                 0|           20-06-2013|               32|                    135|                  46|                  92|                    65|                 61|                 11|            2|             5|                2|           7|                        5|             nao|             nao|             nao|             nao|             nao|                 0|   Geracao_Y|   1|
+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+----+
only showing top 20 rows

##**14.2. dense_rank**

In [ ]:
wgra = Window.partitionBy(F.col('geracao')).orderBy('renda_anual')

In [ ]:
dfs5.withColumn('dense_rank', F.dense_rank().over(wgra)).show()

+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+----------+
|id_cliente|ano_nasc_cliente|formac_academica|estado_civil|renda_anual|crianca_em_casa|adolecente_em_casa|data_cadastro_cliente|ultm_comp_a_x_dia|v_gasto_produt_base_uva|v_gasto_produt_fruta|v_gasto_produt_carne|v_gasto_produt_pescado|v_gasto_produt_doce|v_gasto_produt_ouro|comp_com_desc|comp_site_empr|comp_por_catalogo|comp_na_loja|visita_site_empr_ultm_mes|comp_feita_camp1|comp_feita_camp2|comp_feita_camp3|comp_feita_camp4|comp_feita_camp5|reclamacao_cliente|     geracao|dense_rank|
+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+----------+
|      7281|            1959|       doutorado|  solteira_o|        0.0|              0|                 0|           05-11-2013|               80|                     81|                  11|                  50|                     3|                  2|                 39|            1|             1|                3|           4|                        2|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         1|
|      7244|            1951|       graduacao|  solteira_o|        0.0|              2|                 1|           01-01-2014|               96|                     48|                   5|                  48|                     6|                 10|                  7|            3|             2|                1|           4|                        6|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         1|
|      8996|            1957|       doutorado|    casada_o|        0.0|              2|                 1|           19-11-2012|                4|                    230|                  42|                 192|                    49|                 37|                 53|           12|             7|                2|           8|                        9|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         1|
|      9235|            1957|       graduacao|  solteira_o|        0.0|              1|                 1|           27-05-2014|               45|                      7|                   0|                   8|                     2|                  0|                  1|            1|             1|                0|           2|                        7|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         1|
|      8268|            1961|       doutorado|    casada_o|        0.0|              0|                 1|           11-07-2013|               23|                    352|                   0|                  27|                    10|                  0|                 15|            3|             6|                1|           7|                        6|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         1|
|      1295|            1963|       graduacao|    casada_o|        0.0|              0|                 1|           11-08-2013|               96|                    231|                  65|                 196|                    38|                 71|                124|            1|             6|                5|           7|                        4|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         1|
|      2902|            1958|       graduacao|       junto|        0.0|              1|                 1|           03-09-2012|               87|                     19|                   4|                  12|                     2|                  2|                  6|            1|             1|                0|           3|                        5|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         1|
|     10339|            1954|          mestre|       junto|        0.0|              0|                 1|           23-06-2013|               83|                    161|                   0|                  22|                     0|                  0|                 24|            2|             4|                1|           4|                        6|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         1|
|      3117|            1955|       graduacao|  solteira_o|        0.0|              0|                 1|           18-10-2013|               95|                    264|                   0|                  21|                    12|                  6|                147|            3|             6|                1|           5|                        7|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         1|
|      9931|            1963|       doutorado|    casada_o|     4023.0|              1|                 1|           23-06-2014|               29|                      5|                   0|                   1|                     1|                  1|                  1|           15|             0|                0|           0|                       19|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         2|
|      5899|            1950|       doutorado|       junto|     5648.0|              1|                 1|           13-03-2014|               68|                     28|                   0|                   6|                     1|                  1|                 13|            1|             1|                0|           0|                       20|             nao|             nao|             sim|             nao|             nao|                 0|Baby_Boomers|         3|
|      4303|            1957|       doutorado|       junto|     6835.0|              0|                 1|           08-12-2012|               76|                    107|                   2|                  12|                     2|                  2|                 12|            0|             0|                0|           1|                       20|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         4|
|      2980|            1952|          mestre|  solteira_o|     8820.0|              1|                 1|           22-03-2013|               52|                     12|                   0|                  13|                     4|                  2|                  4|            4|             3|                0|           3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         5|
|      9316|            1952|          basico|       junto|    13084.0|              0|                 0|           02-11-2013|               29|                      2|                   0|                   7|                     3|                  7|                 10|            1|             1|                0|           3|                        6|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         6|
|      4547|            1960|       graduacao|       junto|    13672.0|              1|                 1|           17-04-2013|               86|                      6|                   2|                   9|                     2|                  1|                  5|            2|             1|                0|           3|                        8|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         7|
|      8162|            1956|          mestre|       junto|    14661.0|              0|                 0|           01-01-2013|               88|                      4|                   1|                  11|                     6|                  2|                  2|            1|             1|                0|           3|                        6|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         8|
|      3850|            1963|          basico|       junto|    14918.0|              0|                 1|           07-12-2012|               52|                      3|                   3|                   3|                    15|                  4|                 15|            1|             1|                0|           3|                        6|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|         9|
|      9617|            1951|       graduacao|  solteira_o|    15033.0|              0|                 0|           16-04-2014|               37|                      0|                   4|                   5|                     6|                  0|                  4|            1|             1|                0|           3|                        3|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|        10|
|      3839|            1958|          basico|  solteira_o|    15056.0|              1|                 1|           03-05-2013|               76|                      6|                  12|                   3|                    21|                  6|                 40|            5|             2|                2|           3|                        5|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|        11|
|      4808|            1956|       graduacao|    casada_o|    15759.0|              0|                 0|           05-09-2013|               12|                      1|                   2|                   5|                     6|                  0|                  3|            1|             1|                0|           2|                        7|             nao|             nao|             nao|             nao|             nao|                 0|Baby_Boomers|        12|
+----------+----------------+----------------+------------+-----------+---------------+------------------+---------------------+-----------------+-----------------------+--------------------+--------------------+----------------------+-------------------+-------------------+-------------+--------------+-----------------+------------+-------------------------+----------------+----------------+----------------+----------------+----------------+------------------+------------+----------+
only showing top 20 rows

#**15. SparkSQL**

In [ ]:
def executar_query(conexao, sql): # conexao é a variavel global - sql é o comando que queremos
  cursor = conexao.cursor()
  try:
    cursor.execute(sql) # Executa / cursor (objeto do sql) === herança
    conexao.commit() # confirma execução no banco de dados
    print("Query executada com Sucesso!")
  except Error as err: # Mensagem de erro de execução
    print(f"Erro ao executar a query! {err}")

In [ ]:
def ler_query(conexao, sql):
  cursor = conexao.cursor() # objeto do MySQL
  resultado = None
  try:
    cursor.execute(sql)
    resultado = cursor.fetchall() # o metodo fetchall retorna todas as consultas ao banco
    return resultado
  except Error as err:
    print(f"Erro ao listar do banco de dados - '{err}'")

##**15.1. Consulta 1**

In [ ]:
select = 'SELECT * FROM dfs5 ORDER BY renda_anual DESC'
ler = ler_query(conexao,select)

AttributeError: ignored

In [ ]:
print(select)

SELECT * FROM dfs5 ORDER BY renda_anual DESC

##**15.1. Consulta 2**

##**15.1. Consulta 3**

##**15.1. Consulta 4**

##**15.1. Consulta 5**

#**16. Salvando Dataframe Tratado no CloudStorage e MongoDB**

##**16.1. Dataframe Tratado CloudStorage**

In [ ]:
dfs5.write.csv('gs://projeto_bc12_av/final/analise_campanhas_de_marketing_final.csv')

##**16.2. Dataframe Tratado no MongoDb**

In [ ]:
dfs5.toPandas().head(2)

,id_cliente,ano_nasc_cliente,formac_academica,estado_civil,renda_anual,crianca_em_casa,adolecente_em_casa,data_cadastro_cliente,ultm_comp_a_x_dia,v_gasto_produt_base_uva,v_gasto_produt_fruta,v_gasto_produt_carne,v_gasto_produt_pescado,v_gasto_produt_doce,v_gasto_produt_ouro,comp_com_desc,comp_site_empr,comp_por_catalogo,comp_na_loja,visita_site_empr_ultm_mes,comp_feita_camp1,comp_feita_camp2,comp_feita_camp3,comp_feita_camp4,comp_feita_camp5,reclamacao_cliente,geracao
0,5524,1957,graduacao,solteira_o,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,nao,nao,nao,nao,nao,0,Baby_Boomers
1,2174,1954,graduacao,solteira_o,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,nao,nao,nao,nao,nao,0,Baby_Boomers

In [ ]:
# Converte DataFrame em dicionário
df_to_mongo = dfs5.to_dict('records')
# Insere no DB
colecao_av_tratado.insert_many(df_to_mongo)

In [ ]:
dfs5.bc12_av_tratado.format("mongo").mode("append").save()